---
import Layout from "../../layouts/Layout.astro";
import FeaturedPost from "../../components/FeaturedPost.astro";
import { useStoryblokApi } from "@storyblok/astro";
import type { PostStoryblok } from "../../../component-types-sb";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories/", {
  content_type: "post",
  resolve_relations: "post.category",
  version: import.meta.env.DEV ? "draft" : "published",
});

const [featuredPost, ...posts] = data.stories as PostStoryblok[];
console.log(featuredPost);
---

<Layout title="Blog - jakerobins.com">
  <header class="[ flow ]">
    <h1>Blog</h1>
    <p>
      Scattered thoughts about space exploration, web development, and life as a
      Canadian in Mexico.
    </p>
  </header>
  <main class="[ flow ]">
    <FeaturedPost
      slug={featuredPost.slug}
      title={featuredPost.name}
      publishedAt={featuredPost.publishedAt}
      description={featuredPost.content?.description}
      category={featuredPost.content?.category}
      cover={featuredPost.content?.cover}
    />
  </main>
</Layout>
