---
interface Props {
  src: string;
  alt: string;
  title: string;
  attribution: string;
  source?: string;
}
---

<a
  href={Astro.props.source}
  class="[ relative clear-link-styles bar-hover-link ]"
  target="_blank"
  style="display:block"
>
  <figure class="[ relative invert-text gutter-2xs ]">
    <img
      src={Astro.props.src}
      alt={Astro.props.alt}
      title={Astro.props.title}
      loading="lazy"
    />

    <span class="[ inset-top-right category-tag ]"
      >{Astro.props.attribution}</span
    >

    <figcaption class="[ inset-bottom-left category-tag ]">
      {Astro.props.title}
    </figcaption>
  </figure>
</a>
