---
import { format } from "date-fns";

interface Props {
  slug: string;
  title: string;
  publishedAt: string;
  description: string;
  category: {
    name: string;
    content: {
      hue: string;
    };
  };
  cover: Record<string, any>;
}

const placeholderPublicationDate = new Date();

const publicationDate = format(
  Astro.props.publishedAt ?? placeholderPublicationDate,
  "PPp"
);
---

<a
  href=`/blog/${Astro.props.slug}`
  class=`[ clear-link-styles bar-hover-link ]`
  style=`--color-category: hsl(${Astro.props.category.content.hue}, 19%, 32%);`
  data-astro-prefetch="load"
>
  <article class=`[ flow ]`>
    <img src={Astro.props.cover.filename} alt={Astro.props.cover.alt} />
    <h2>{Astro.props.title}</h2>
    <p class="[ flow-inline ]">
      <time datetime={publicationDate}>{publicationDate}</time>
      <span class="[ category-tag invert-text ]"
        >{Astro.props.category.name}</span
      >
    </p>
    <p>
      {Astro.props.description}
    </p>
  </article>
</a>
