---
import { format } from "date-fns";
import ResponsiveImage from "./ResponsiveImage.astro";

interface Props {
  slug: string;
  title: string;
  publishedAt: string;
  description: string;
  category: {
    name: string;
    content: {
      hue: string;
    };
  };
  cover: Record<string, any>;
}

const placeholderPublicationDate = new Date();

const publicationDate = format(
  Astro.props.publishedAt ?? placeholderPublicationDate,
  "PP"
);
---

<a
  href=`/blog/${Astro.props.slug}`
  class=`[ clear-link-styles bar-hover-link block ]`
  style=`--color-category: hsl(${Astro.props.category.content.hue}, 50%, 30%);`
  data-astro-prefetch="load"
>
  <article class=`[ flow ]` style="--hero-height: 350px;">
    <ResponsiveImage
      src={Astro.props.cover.filename}
      alt={Astro.props.cover.alt}
      title={Astro.props.title}
      lazy={false}
      fullBleed={false}
      class="[ hero ]"
    />
    <h3>{Astro.props.title}</h3>
    <p class="[ flow-inline ]">
      <time datetime={publicationDate}>{publicationDate}</time>
      <span class="[ category-tag invert-text ]"
        >{Astro.props.category.name}</span
      >
    </p>
    <p>
      {Astro.props.description}
    </p>
  </article>
</a>
