---
import Tag from "./Tag.astro";

const tagType = "dev";

interface Props {
  slug: string;
  title: string;
  publishedAt: string;
  description: string;
}

const { title, slug, publishedAt, description } = Astro.props;
---

<a
  href=`/blog/${slug}`
  class=`[ tag-${tagType} clear-link-styles bar-hover-link ]`
>
  <article class=`[ featured-post ] [  ]`>
    <img
      src="https://i0.wp.com/spacenews.com/wp-content/uploads/2024/02/im1-landing.jpg?resize=1200%2C655&ssl=1"
      alt=""
    />
    <h2>{title}</h2>
    <p><time datetime={publishedAt}>{publishedAt}</time> - <Tag>Space</Tag></p>
    <p>
      {description}
    </p>
  </article>
</a>
