---
import type { PostStoryblok } from "../../component-types-sb";
import PostListItem from "./PostListItem.astro";

interface Props {
  posts: PostStoryblok[];
}
---

<div>
  {
    Astro.props.posts.map((p) => (
      <PostListItem
        title={p.name}
        description={p.content?.description}
        src={p.content?.cover.filename}
        alt={p.content?.cover.alt}
        slug={p.slug}
        publishedAt={p.published_at || p.created_at}
        hue={p.content?.category.content.hue}
        category={p.content?.category.name}
      />
    ))
  }
</div>
