---
import { format } from "date-fns";

interface Props {
  title: string;
  description: string;
  src: string;
  alt: string;
  slug: string;
  publishedAt: string;
  hue: string;
  category: string;
}

const placeholderPublicationDate = new Date();

const publicationDate = format(
  Astro.props.publishedAt ?? placeholderPublicationDate,
  "PP"
);
---

<a
  href={`/blog/${Astro.props.slug}`}
  class="[ clear-link-styles bar-hover-link block ]"
  style=`--color-category: hsl(${Astro.props.hue}, 50%, 30%);`
  data-astro-prefetch="hover"
>
  <article class="[ post-list-item ][ columns-two ]">
    <div>
      <img class="[ square ]" src={Astro.props.src} alt={Astro.props.alt} />
    </div>
    <div class="[ flow ]">
      <h2>{Astro.props.title}</h2>
      <p>
        {publicationDate}
      </p>
      <p>
        <span class="[ category-tag invert-text ]">{Astro.props.category}</span>
      </p>
      <p>{Astro.props.description}</p>
    </div>
  </article>
</a>
